extends layout

block vars
	- var title = "CyberLeaf"
	- var navigation = "index"

block content

	section#hero.hero-section
		.container
			h1.hero-section__header CyberLeaf Community.
			p (WEB development, UI/UX)

	section#services.services-section
		.container
			h2 What we can do for you
			.services-list
				mixin service (img, description)
					.services-list__service
						.image-holder
							img(src= img)
						.text-holder
							p!= description

				+service(
					'http://placehold.it/320x180',
					'Landing and single/multi page websites'
				)

				+service(
					'http://placehold.it/320x180',
					'Blogs and E-Commerce'
				)

				+service(
					'http://placehold.it/320x180',
					'REST Applications, Progressive Web Apps'
				)

				+service(
					'http://placehold.it/320x180',
					'SEO optimized, browser friendly and fully responsive'
				)

	section#portfolio.portfolio-section
		.container
			h2 We are proud of our work
			.portfolio-items
				mixin portfolio (img, name, link)
					if img
						.portfolio-items__portfolio
							a(href= link ? link : "")
								.image-holder
									img(src= img ? img : "http://placehold.it/320x180", alt= name)
								.text-holder
									p!= name

				+portfolio(
					'http://placehold.it/320x180',
					'Fully responsive website'
				)
				+portfolio(
					'http://placehold.it/320x180',
					'Fully responsive website'
				)
				+portfolio(
					'http://placehold.it/320x180',
					'Fully responsive website'
				)

	section#about.about-section
		.container
			.content-holder
				p We are community of independent developers and every member of our creative team will provide you with a high quality product. Our community has great experience at developing modular and scalable systems. That makes us very flexible and efficient.

	section#advantages.advantages-section
		.container
			h2 Our advantages
			.advantages-list
				mixin advantage (header, description)
					.advantages-list__advantage
						h4!= header
						p!= description

				+advantage(
					'We are community',
					'Community is not a big bureaucratic company. You are working with real developers directly so no tons of managers involved in the chain. This helps us to save your time and money while maintaining high quality.'
				)

				+advantage(
					'Time management',
					'Unlike working with a lonely freelancer when you hire us our community will make sure your project is completed in time. And of course there are strict code standards, lots of product testing and code review.'
				)

				+advantage(
					'Our skills',
					'We have a bunch of different developers so we can cover all your needs. As market and technology evolves every member of out team must be ‘up to date’. Community keeps its eye on each developer’s growth.'
				)

	section#team.team-section
		.container
			h2 Faces behind the scenes
			.team-list
				mixin developer (img, name, link)
					if name
						.team-list__person
							a(href= link ? link : "")
								.image-holder
									img(src= img ? img : "http://placehold.it/320x280", alt= name)
								.text-holder
									p!= name

				+developer(
					'http://placehold.it/320x280',
					'Dev',
					'dev-page.html'
				)

				+developer(
					'http://placehold.it/320x280',
					'Nerd',
					'dev-page.html'
				)

				+developer(
					'http://placehold.it/320x280',
					'Fancy chick',
					'dev-page.html'
				)

				+developer(
					'http://placehold.it/320x280',
					'Bully',
					'dev-page.html'
				)


	section#contact.contact-section
		.container.content-holder
			h2 Get in touch
			form.form-content(action="#")
				.form-group.half-width
					input(type="email" placeholder="Email" required)
				.form-group.half-width
					input(type="text" placeholder="Name")
				.form-group
					textarea(placeholder="Enter your message" required)
				.form-group
					button(type="submit") Send
						svg(x="0px" y="0px" width="444.815px" height="444.815px" viewBox="0 0 444.815 444.815" style="enable-background:new 0 0 444.815 444.815;" xml:space="preserve")
							path(d="M421.976,196.712L236.111,10.848C228.884,3.615,220.219,0,210.131,0c-9.9,0-18.464,3.615-25.697,10.848L163.023,32.26   c-7.234,6.853-10.85,15.418-10.85,25.697c0,10.277,3.616,18.842,10.85,25.697l83.653,83.937H45.677   c-9.895,0-17.937,3.568-24.123,10.707s-9.279,15.752-9.279,25.837v36.546c0,10.088,3.094,18.698,9.279,25.837   s14.228,10.704,24.123,10.704h200.995L163.02,360.88c-7.234,7.228-10.85,15.89-10.85,25.981c0,10.089,3.616,18.75,10.85,25.978   l21.411,21.412c7.426,7.043,15.99,10.564,25.697,10.564c9.899,0,18.562-3.521,25.981-10.564l185.864-185.864   c7.043-7.043,10.567-15.701,10.567-25.981C432.54,211.939,429.016,203.37,421.976,196.712z")

